torch==1.7.0+cu101
torchvision==0.8.1+cu101
-f https://download.pytorch.org/whl/cu101/torch_stable.html
datasets
transformers
trl<0.9.0
peft
accelerate
bitsandbytes
huggingface_hub
xformers
git+https://github.com/unslothai/unsloth.git
